.p-tl-cont *{font-family: "Open Sans",Helvetica,Arial,sans-serif;}
.p-tl-cont{padding:0 !important;}
.p-tl-cont h1,
.p-tl-cont h2,
.p-tl-cont h3,
.p-tl-cont h4,
.p-tl-cont h5,
.p-tl-cont h6 {letter-spacing: -0.5px;}
.p-tl-cont.col-lg-12 .container { width: 970px;}
.p-tl-cont.col-md-12 .container { width: 750px;}
.p-tl-cont.col-sm-12 .container { width: 100%;}
.p-tl-cont .blank-space-90{margin: auto;width: 100%;height: 90px;float: left;clear: both}
.p-tl-cont .blank-space-60{margin: auto;width: 100%;height: 60px;float: left;clear: both}
.p-tl-cont .blank-space-40{margin: auto;width: 100%;height: 40px;float: left;clear: both}
.p-tl-cont span.line {position: absolute;height: 100%;width: 16px;background: #000;left: 0;right: 0;margin: auto;top: 30px;bottom: 0;}
.p-tl-cont .main-timeline{position: relative;z-index: 0;margin-bottom: 30px;}
.p-tl-cont .year {margin: auto;text-align: center;background: transparent;display: block;margin-top: 0px;width: 116px;position: relative;height: auto;color: #fff;}
.p-tl-cont .hexagon {  position: relative;  width: 400px; height: 230.94px;  margin: 115.47px 0;  background-image: url(http://csshexagon.com/img/meow.jpg);  background-size: auto 448.0238px;  background-position: center;  border-left: solid 6px #000000;  border-right: solid 6px #000000;}
.p-tl-cont .hexTop,.p-tl-cont .hexBottom {  position: absolute;  z-index: 1;  width: 282.84px;  height: 282.84px;  overflow: hidden;  -webkit-transform: scaleY(0.5774) rotate(-45deg);  -ms-transform: scaleY(0.5774) rotate(-45deg);  transform: scaleY(0.5774) rotate(-45deg);  background: inherit;  left: 52.58px;}
/*counter transform the bg image on the caps*/
.p-tl-cont .hexTop:after,.p-tl-cont .hexBottom:after {  content: "";  position: absolute;  width: 388.0000px;  height: 224.01190444557483px;  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-112.0060px);  -ms-transform:  rotate(45deg) scaleY(1.7321) translateY(-112.0060px);  transform:  rotate(45deg) scaleY(1.7321) translateY(-112.0060px);  -webkit-transform-origin: 0 0;  -ms-transform-origin: 0 0;  transform-origin: 0 0;  background: inherit;}
.p-tl-cont .hexTop {  top: -141.4214px;  border-top: solid 8.4853px #000000;  border-right: solid 8.4853px #000000;}
.p-tl-cont .hexTop:after {  background-position: center top;}
.p-tl-cont .hexBottom {  bottom: -141.4214px;  border-bottom: solid 8.4853px #000000;  border-left: solid 8.4853px #000000;}
.p-tl-cont .hexBottom:after {  background-position: center bottom;}
.p-tl-cont .hexagon:after {  content: "";  position: absolute;  top: 3.4641px;  left: 0;  width: 388.0000px;  height: 224.0119px;  z-index: 2;  background: inherit;}
.p-tl-cont .year:before {content: ;display: block;width: 0;height: 0;border-width: 0 53px 28px 53px;border-style: solid;border-color: transparent transparent black transparent;margin: auto;position: relative;top: -28px;}
.p-tl-cont .year:after {content: ;display: block;width: 0;height: 0;border-width: 28px 53px 0 53px;border-style: solid;border-color:black transparent transparent  transparent;margin: auto;position: relative;bottom: -32px;}
.p-tl-cont .year span {margin: auto;font-size: 27px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;padding-top: 25px;}
.p-tl-cont .timeline-section .timeline-box{display: inline-block;width: 40%;position: relative;float: left;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n){float: right;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n){margin-top: 70px;}
.p-tl-cont .timeline-section .timeline-box:nth-child(n+3){margin-top: 25px;}
.p-tl-cont .timeline-box h1{margin: auto;padding-top: 15px;margin-bottom: 5px;margin-left: auto;margin-right: auto;font-size: 30px;padding: 0px;position: relative;}
.p-tl-cont .timeline-box p{font-size: 13px;margin-top: 15px;padding: 0 15px;margin-bottom: 15px;}
.p-tl-cont .timeline-box img{min-width: 100%;margin: auto;width: 100%;max-height: 400px;}
.p-tl-cont .month-box {position: absolute;left: auto;right: -24%;top: 0;font-size: 14px;height: 50px;text-align: center;padding: 15px 0;color: #fff;width: 50px;z-index: -1;margin-right: 2px;font-weight: normal;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n+1) .month-box {left: auto;right: -24%;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n) .month-box {left: -24%;right: auto;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n) .month-box:before {content: "";border-width: 25px 23px 25px 0px;border-style: solid;transform: rotate(180deg);position: absolute;right: -23px;top: 0px;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n) .month-box:after {content: "";width: 80px;height: 5px;position: absolute;right: -170%;top: 0;bottom: 0;margin: auto;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n+1) .month-box:before {content: "";border-width: 25px 23px 25px 0px;border-style: solid;position: absolute;left: -22px;top: 0px;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n+1) .month-box:after {content: "";width: 80px;height: 5px;position: absolute;left: -170%;top: 0;bottom: 0;margin: auto;}

.p-tl-cont .first{background: #ce89ca;color: #fff;}
.p-tl-cont .first .month-box:before{border-color: transparent #a5009b transparent transparent;}
.p-tl-cont .first .month-box ,.p-tl-cont .first h1 ,.p-tl-cont .first .month-box:after{background: #a5009b;}
.p-tl-cont .first .at-read-more {color: #a5009b;}

.p-tl-cont .second {background: #c8779f;color: #fff;}
.p-tl-cont .second .month-box:before{border-color: transparent #a50052 transparent transparent;}
.p-tl-cont .second .month-box ,.p-tl-cont .second h1,.p-tl-cont .second .month-box:after{background: #a50052}
.p-tl-cont .second .at-read-more {color: #a50052;}

.p-tl-cont .third .month-box ,.p-tl-cont .third h1,.p-tl-cont .third .month-box:after {background: #4600a5;}
.p-tl-cont .third .month-box:before{border-color: transparent #4600a5 transparent transparent;}
.p-tl-cont .third {background: #9975ca;color: #fff;}
.p-tl-cont .third .at-read-more {color: #4600a5;}

.p-tl-cont .forth .month-box ,.p-tl-cont .forth h1,.p-tl-cont .forth .month-box:after {background: #00a578;}
.p-tl-cont .forth .month-box:before{border-color: transparent #00a578 transparent transparent;}
.p-tl-cont .forth {background: #85c8b6;color: #fff;}
.p-tl-cont .forth .at-read-more {color: #00a578;}

.p-tl-cont .fifth .month-box ,.p-tl-cont .fifth h1,.p-tl-cont .fifth .month-box:after {background: #8ca500;}
.p-tl-cont .fifth .month-box:before{border-color: transparent #8ca500 transparent transparent;}
.p-tl-cont .fifth {background: #b9c284;color: #fff;}
.p-tl-cont .fifth .at-read-more {color: #8ca500;}

.p-tl-cont .sixth .month-box ,.p-tl-cont .sixth h1,.p-tl-cont .sixth .month-box:after {background: #a53e00;}
.p-tl-cont .sixth .month-box:before{border-color: transparent #a53e00 transparent transparent;}
.p-tl-cont .sixth {background: #c5997f;color: #fff;}
.p-tl-cont .sixth .at-read-more {color: #a53e00;}

.p-tl-cont .seventh .month-box ,.p-tl-cont .seventh h1,.p-tl-cont .seventh .month-box:after {background: #ff0096;}
.p-tl-cont .seventh .month-box:before{border-color: transparent #ff0096 transparent transparent;}
.p-tl-cont .seventh {background: #ff6bc2;color: #fff;}
.p-tl-cont .seventh .at-read-more {color: #ff0096;}

.p-tl-cont .details-sec{padding-top: 110px;padding-bottom: 110px;}
.p-tl-cont .details-sec h1 {font-size: 40px;margin: 0;color: #a5009b;font-weight: 700;}
.p-tl-cont .details-sec h3 {font-size: 30px;margin: 0;padding: 0px}
.p-tl-cont .details-sec p{font-size: 18px;}
.p-tl-cont .details-sec p.time-p{color: #a5009b}
.p-tl-cont .timeline-box .post-caption {font-size: 11px;font-style: italic;margin-bottom: 0;margin-top: 0;}

.p-tl-cont .timeline-box .ptl-desc {padding: 0 10px 25px}
.p-tl-cont .timeline-box .at-read-more {box-shadow:none;cursor: pointer; padding: 5px 10px;background: #fff;font-weight: bold;position: absolute;bottom: 10px;right: 10px}
.p-tl-cont .timeline-box .at-read-more:hover{text-decoration: none;}



@media(max-width:991px) {

.p-tl-cont .timeline-section .timeline-box {float: right !important;display: block !important;clear: both;width: 75%;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n+1) .month-box {left: -24% !important;right: auto !important;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n+1) .month-box:before {content: "";border-width: 25px 23px 25px 0px;border-style: solid;transform: rotate(180deg);position: absolute;right: -23px;left: auto;top: 0px;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n+1) .month-box:before {content: "";border-width: 25px 23px 25px 0px;border-style: solid;transform: rotate(180deg);position: absolute;right: -23px;top: 0px;}
.p-tl-cont .timeline-section .timeline-box:nth-child(2n+1) .month-box:after {content: "";width: 80px;height: 5px;position: absolute;right: -170%;top: 0;bottom: 0;margin: auto;left: auto;}
.p-tl-cont .year {margin-left: 0;margin-right: 0;}
.p-tl-cont span.line {right: auto;left: 45px;}
.row.timeline-section {margin: 0}

}

@media(max-width:768px) {
.p-tl-cont .year span{z-index: 99999;}
.p-tl-cont span.line {z-index: 99999;}
.p-tl-cont .timeline-box h1{position: relative;}
.p-tl-cont .timeline-section .timeline-box:nth-child(even) .month-box ,
.p-tl-cont .timeline-section .timeline-box:nth-child(odd) .month-box {left: 0 !important;right: 0 !important;top: -48% !important;z-index: 999;width: 100%;height: 50%;padding: 10px;}
.p-tl-cont .timeline-section .timeline-box:nth-child(odd) .month-box:before ,
.p-tl-cont .timeline-section .timeline-box:nth-child(even) .month-box:before {content: "";border-width: 25px 23px 25px 0px;border-style: solid;transform: none;position: absolute;right: auto;top: 0px;left: -23px;}
.p-tl-cont .timeline-section .timeline-box:nth-child(odd) .month-box:after, .p-tl-cont .timeline-section .timeline-box:nth-child(even) .month-box:after {content: "";width: 23%;max-width: 140px;height: 5px;position: absolute;right: 100%;top: 50%;bottom: 0;margin: auto;left: auto !important;}
}


.p-tl-cont .timeline-section .timeline-box:nth-child(2n)::after{clear: both;}
.p-tl-cont .timeline-section .row {margin-bottom: 30px;}

/*Theme 17*/
.twentyseventeen-panel .wrap{max-width:100%}
.twentyseventeen-panel .wrap > header.entry-header{width:100%;display:block;clear:both}
body.page-two-column #primary .twentyseventeen-panel .wrap > .entry-content{width:100%;}



/*.p-tl-cont .container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}*/
.p-tl-cont .container-min{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
.p-tl-cont .container-min{width: 650px; } 

/*@media(min-width:768px){.p-tl-cont .container{width:750px}}
@media(min-width:992px){.p-tl-cont .container{width:970px}}
@media(min-width:1200px){.p-tl-cont .container{width:1170px}}
*/
@media (min-width: 992px) {
  .p-tl-cont .container-min{width: 450px; } 
}
@media (min-width: 1200px) {
  .p-tl-cont .container-min{width: 650px; } 
}

/*.p-tl-cont .container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
.p-tl-cont .row{margin-left:-15px;margin-right:-15px}*/
.single-post-timeline{}



.p-tl-cont .single-post-timeline h1.p-timeline-title{font-size: 36px;margin-bottom: 20px;color: #222222}
.p-tl-cont .single-post-timeline .wp-post-image{margin: 0px}
.p-tl-cont .single-post-timeline .p-timeline-content{font-size: 18px;line-height: 31px;color: #555555;margin-top: 20px;letter-spacing: 0.2px}
.p-tl-cont .single-post-timeline .comments-area {margin: 0 !important;padding: 0 !important;width: 100%;}


.p-tl-cont .comments {  position: relative;  font-family: "Open Sans", Helvetica, Arial, sans-serif;  margin-top: 4.5rem; }
.p-tl-cont .description + .comments {    margin-top: 5rem; }
.p-tl-cont .comments-title {    margin-bottom: 2.5rem; }
@media (min-width: 992px) {
.p-tl-cont .comments-title {        letter-spacing: 0;        position: absolute;        border-top: 1px solid rgba(0, 0, 0, 0.07);        color: #555555;        top: 0;        left: -228px;        width: 183px;        margin-right: 45px;        padding-top: 21px;        font-size: 14px;        font-weight: normal;        text-align: right;        margin-bottom: 0; } }
.p-tl-cont .comments-list {    list-style: none;    padding-left: 0; margin-top: 2em}
.p-tl-cont .comments .children {    list-style: none; }
.p-tl-cont .comment-body {  position: relative;  border: none;}
.p-tl-cont .comment-meta {  display: inline-block;  width: 100%; }
.p-tl-cont .comment-meta .comment-awaiting-moderation {    display: inline-block;    color: #bbbbbb;    font-size: 14px;    margin-bottom: 60px; }
.p-tl-cont .comment-author .avatar {  border-radius: 50%;  margin-right: 0.83333rem;  margin-bottom: 1.11111rem;  float: left; }
.p-tl-cont .comment-author .says {  display: none; }
.p-tl-cont .comment-author .fn {  display: block;  padding-top: 0;  vertical-align: top;  color: #222222;  margin-right: 0; font-size: 18px}
.p-tl-cont .comment-author .fn a {    color: #222222;    vertical-align: top; }
.p-tl-cont .comment-metadata {  font-size: 0.77778rem;  margin-bottom: 0.55556rem;  margin-top: -0.27778rem; }
.p-tl-cont .comment-metadata a {    color: #bbbbbb; }
.p-tl-cont .comment-metadata .comment-edit-link {    color: #e44244; }
.p-tl-cont .comment-metadata time {    margin-right: 0.55556rem;font-size: 14px}
.p-tl-cont .comment-content {  border: 1px solid rgba(0, 0, 0, 0.07);  border-radius: 2px;  padding: 1.05556rem 1.66667rem 3.27778rem;  font-family: "Lora", Georgia, "Times New Roman", Times, serif; }
.p-tl-cont .comment-content > p { font-size: 18px;color: rgb(85, 85, 85) }
.p-tl-cont .comment-content > p:last-of-type {    margin-bottom: 0; }
.p-tl-cont .comment .reply {  position: absolute;  bottom: 1.22222rem;  left: 1.66667rem; }
.p-tl-cont .comment .reply a {    font-size: 0.77778rem;    color: #bbbbbb;    font-family: "Lora", Georgia, "Times New Roman", Times, serif;margin-top: 0px;font-size: 14px;border: none; line-height: 25px;bottom: 0px}
.p-tl-cont .comment .reply a:hover {      color: #e44244; }
.p-tl-cont .comment .comment-respond {  margin-bottom: 60px; }
.p-tl-cont .comment .comment-respond .form-submit {    margin-bottom: 0; }
.p-tl-cont .comment-respond {  position: relative;  margin-top: 40px; }
.p-tl-cont .comments-list + .comment-respond {    margin-top: 60px; }
.p-tl-cont .comment-body + .comment-respond {    margin-top: 0; }
@media (min-width: 992px) {
.p-tl-cont .comment-respond .comment-reply-title {      letter-spacing: 0;      position: absolute;      border-top: 1px solid rgba(0, 0, 0, 0.07);      color: #555555;      top: 0;      left: -228px;      width: 183px;      margin-right: 45px;      padding-top: 21px;      font-size: 14px;      font-weight: normal;      text-align: right; } 
}
.p-tl-cont .comment-respond .comment-reply-title a {    margin-left: 10px;    font-size: 14px; }
.p-tl-cont .comment-respond .comment-form {    padding-top: 18px; }
.p-tl-cont .comment-respond .comment-notes, .comment-respond .logged-in-as {    display: none; }
.p-tl-cont .comment-respond label {    display: block;    font-size: 14px; }
.p-tl-cont .comment-respond textarea {    width: 100%; }
.p-tl-cont .comment-respond input {width: 100%; }
@media (min-width: 992px) {
.p-tl-cont .comment-respond input {width: 50%; }
}
.p-tl-cont .comment-respond textarea, .comment-respond input {    font-family: "Lora", Georgia, "Times New Roman", Times, serif;    font-size: 14px;    border: 1px solid #eeeeee;    border-radius: 2px;    outline: none;    padding: 10px 18px; }
.p-tl-cont .comment-respond textarea:focus, .comment-respond input:focus {      border: 1px solid #222222;      color: #222222; }
.p-tl-cont .comment-respond .comment-form-comment {    margin-bottom: 0px; order:0;}
.p-tl-cont .comment-respond .comment-form-url,
.p-tl-cont .comment-respond .comment-form-email,
.p-tl-cont .comment-respond .comment-form-author {    margin-bottom: 0px; }
.p-tl-cont .comment-respond .form-submit {    margin-top: 30px;    margin-bottom: 12px; order:1}
.p-tl-cont .comment-respond .submit {    width: auto;    font-family: "Open Sans", Helvetica, Arial, sans-serif;    background-color: #1bbebc;    color: #ffffff;    border-radius: 2px;    border-color: #1bbebc; }
.p-tl-cont .comment-respond .submit:focus,
.p-tl-cont  .comment-respond .submit:hover {      color: #ffffff;      border-color: #18a8a6;      background-color: #18a8a6; }



/*My new*/
.p-tl-cont .timeline-box h1{margin: auto;padding-top: 15px;margin-bottom: 5px;margin-left: auto;margin-right: auto;font-size: 30px;padding: 0px;position: relative;}
.p-tl-cont .timeline-box h1 span{padding: 15px;width: 100%;height: 100%;display: inline-block;font-weight: normal;color: #fff !important}

.p-tl-cont.col-md-12 .timeline_details > div,.p-tl-cont.col-sm-12 .timeline_details > div {    display: block;    width: 100%;    margin: auto;    text-align: center;    float: none !important;}
.p-tl-cont.col-md-12 .hexagon ,.p-tl-cont.col-sm-12 .hexagon {    margin-left: auto;    margin-right: auto;}











.p-tl-cont.col-md-12 .col-md-1, .p-tl-cont.col-md-12 .col-md-2, .p-tl-cont.col-md-12 .col-md-3, .p-tl-cont.col-md-12 .col-md-4, .p-tl-cont.col-md-12 .col-md-5, .p-tl-cont.col-md-12 .col-md-6, .p-tl-cont.col-md-12 .col-md-7, .p-tl-cont.col-md-12 .col-md-8, .p-tl-cont.col-md-12 .col-md-9, .p-tl-cont.col-md-12 .col-md-10,.p-tl-cont.col-md-12 .col-md-11, .p-tl-cont.col-md-12 .col-md-12,.p-tl-cont.col-sm-12 .col-md-1, .p-tl-cont.col-sm-12 .col-md-2, .p-tl-cont.col-sm-12 .col-md-3, .p-tl-cont.col-sm-12 .col-md-4, .p-tl-cont.col-sm-12 .col-md-5, .p-tl-cont.col-sm-12 .col-md-6, .p-tl-cont.col-sm-12 .col-md-7, .p-tl-cont.col-sm-12 .col-md-8, .p-tl-cont.col-sm-12 .col-md-9, .p-tl-cont.col-sm-12 .col-md-10,.p-tl-cont.col-sm-12 .col-md-11, .p-tl-cont.col-sm-12 .col-md-12{	width:100%;		float:none;}
.p-tl-cont.col-sm-12 .col-sm-1, .p-tl-cont.col-sm-12 .col-sm-2, .p-tl-cont.col-sm-12 .col-sm-3, .p-tl-cont.col-sm-12 .col-sm-4, .p-tl-cont.col-sm-12 .col-sm-5, .p-tl-cont.col-sm-12 .col-sm-6, .p-tl-cont.col-sm-12 .col-sm-7, .p-tl-cont.col-sm-12 .col-sm-8, .p-tl-cont.col-sm-12 .col-sm-9, .p-tl-cont.col-sm-12 .col-sm-10,.p-tl-cont.col-sm-12 .col-sm-11, .p-tl-cont.col-sm-12 .col-sm-12{	width:100%;		float:none;}
.p-tl-cont.col-md-12  span.line ,.p-tl-cont.col-sm-12 span.line {    right: auto;    left: 45px;}
.p-tl-cont.col-md-12  .timeline-section .timeline-box,.p-tl-cont.col-sm-12  .timeline-section .timeline-box {float: right !important;display: block !important;clear: both;width: 75%;}
.p-tl-cont.col-md-12  .timeline-section .timeline-box:nth-child(2n+1) .month-box ,.p-tl-cont.col-sm-12  .timeline-section .timeline-box:nth-child(2n+1) .month-box {left: -24% !important;right: auto !important;}
.p-tl-cont.col-md-12  .timeline-section .timeline-box:nth-child(2n+1) .month-box:before ,.p-tl-cont.col-sm-12  .timeline-section .timeline-box:nth-child(2n+1) .month-box:before {content: "";border-width: 25px 23px 25px 0px;border-style: solid;transform: rotate(180deg);position: absolute;right: -23px;left: auto;top: 0px;}
.p-tl-cont.col-md-12 .timeline-section .timeline-box:nth-child(2n+1) .month-box:before,.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(2n+1) .month-box:before {content: "";border-width: 25px 23px 25px 0px;border-style: solid;transform: rotate(180deg);position: absolute;right: -23px;top: 0px;}
.p-tl-cont.col-md-12 .timeline-section .timeline-box:nth-child(2n+1) .month-box:after,.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(2n+1) .month-box:after {content: "";width: 80px;height: 5px;position: absolute;right: -170%;top: 0;bottom: 0;margin: auto;left: auto;}
.p-tl-cont.col-md-12  .year ,.p-tl-cont.col-sm-12  .year {margin-left: 0;margin-right: 0;}
.p-tl-cont.col-md-12  span.line ,.p-tl-cont.col-sm-12  span.line {right: auto;left: 43px;}
.p-tl-cont.col-md-12 .row.timeline-section ,.p-tl-cont.col-sm-12 .row.timeline-section {margin: 0}


.p-tl-cont.col-sm-12  .year span{z-index: 99999;}
.p-tl-cont.col-sm-12  span.line {z-index: 99999;}
.p-tl-cont.col-sm-12  .timeline-box h1{position: relative;}
.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(even) .month-box ,
.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(odd) .month-box {left: 0 !important;right: 0 !important;top: -48% !important;z-index: 999;width: 100%;height: 50%;padding: 10px;}
.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(odd) .month-box:before ,
.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(even) .month-box:before {content: "";border-width: 25px 23px 25px 0px;border-style: solid;transform: none;position: absolute;right: auto;top: 0px;left: -23px;}
.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(odd) .month-box:after, .p-tl-cont.col-sm-12  .timeline-section .timeline-box:nth-child(even) .month-box:after {content: "";width: 23%;max-width: 140px;height: 5px;position: absolute;right: 100%;top: 50%;bottom: 0;margin: auto;left: auto !important;}



@media(max-width:580px) {.p-tl-cont .timeline-section .timeline-box:nth-child(odd) .month-box:after, .p-tl-cont .timeline-section .timeline-box:nth-child(even) .month-box:after {width: 20% !important;}
}
.p-tl-cont.w-o-yr .timeline-section .timeline-box:nth-child(2n+1) .month-box:after{    content: "";    width: 130px;    height: 5px;    position: absolute;    left: auto;    top: 0;    bottom: 0;    margin: auto;    right: 0;}
.p-tl-cont.w-o-yr .timeline-section .timeline-box:nth-child(2n) .month-box:after {    content: "";    width: 120px;    height: 5px;    position: absolute;    right: auto;    top: 0;    bottom: 0;    margin: auto;    left: 0;}
.p-tl-cont.w-o-yr .month-box {    font-size: 0px;    width: 0;}
.p-tl-cont .year {    transform: rotate(90deg);}
.p-tl-cont .year span {    transform: rotate(-90deg);}
.p-tl-cont .year{z-index:999999;}
@media(max-width:400px){.p-tl-cont.col-md-12 .timeline-section .timeline-box, .p-tl-cont.col-sm-12 .timeline-section .timeline-box {width: 75%;}
}
@media(max-width:580px){.p-tl-cont.col-md-12 .timeline-section .timeline-box, .p-tl-cont.col-sm-12 .timeline-section .timeline-box {width: 80%;}
}
.p-tl-cont .year span {    transform: rotate(0deg);    top: 10px;}
.p-tl-cont .year {    transform: rotate(0deg);    width: 100px;}
.p-tl-cont .year{z-index:999999;}
@media(max-width:400px){.p-tl-cont.col-md-12 .timeline-section .timeline-box, .p-tl-cont.col-sm-12 .timeline-section .timeline-box {	width: 75%;}
.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(2n+1) .month-box::after, .p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(2n) .month-box::after{	width: 0 !important;	max-width: 0 !important;}
}
@media(max-width:580px){.p-tl-cont.col-md-12 .timeline-section .timeline-box, .p-tl-cont.col-sm-12 .timeline-section .timeline-box {	width: 80%;}
.p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(2n+1) .month-box::after, .p-tl-cont.col-sm-12 .timeline-section .timeline-box:nth-child(2n) .month-box::after{	width: 0 !important;	max-width: 0 !important;}
}